 *{
    margin: 0;
    padding: 0;
 }

  body { 
         font-family: Verdana;
         background-image: url(../img/background.png);
         background-size: cover;
} 
ul {
    list-style: none;
}

 .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.41);
    height: 54px;

}
 .logo{
        padding-bottom: 18px;
        padding-top: 18px;
        padding-left: 81px;
      
}

 .a-logo{
    font-weight:bold;
    color: #fff;
    text-decoration: none;
}

.a-logo:hover{
    color: #3cb878;
}

.a-signup{
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    margin-top: 29px;
}

.a-login{
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 29px;
    text-decoration: none;
    
}
.right-col{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-group{
display: flex;
}

.icons-group-item{
    margin-right: 28px;
}

.bg-ic_journey {
    width: 20px; height: 20px;
    background: url(../img/css_sprites.png) -50px -50px;
}
.bg-ic_journey:hover{
     width: 20px; height: 20px;
    background: url(../img/css_sprites.png) -10px -50px;
}
.bg-ic_forum{
    width: 28px; height: 20px;
    background: url(../img/css_sprites.png) -58px -10px;
}
.bg-ic_forum:hover {
     width: 28px; height: 20px;
    background: url(../img/css_sprites.png) -10px -10px;
}
.bg-ic_caledar {
    width: 19px; height: 19px;
    background: url(../img/css_sprites.png) -106px -49px;
}

.bg-ic_caledar:hover{
 width: 19px; height: 19px;
    background: url(../img/css_sprites.png) -106px -10px;
}

.login-group{
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-right: 21px;
    padding-left: 24px;
    border-left: 1px solid #dfdddd;;
}

.a-login-green{
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
    
}

/* .container{
    display: flex; // FlexBox
    align-items: center; // выравнивает по вертикали 
    justify-content: center; //выравнивает по горизонтали
} */

.wrap-form{
    width: 444px;
    height: 584px;
    border-radius: 5px;
    background-color: #ffffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}

.green-block{
    background-color:  #3cb878;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 82px;
    left: -3px;
}

.form-login-block{
    width: 322px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 23px
}

.form-input-block{
     width: 322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.input-field{
    border-radius: 3px;
    border: 1px solid #C4C4C4;
    background-color:  #ffffff;
    /*box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);*/
    width: 322px;
    height: 46px;
    margin-bottom: 8px;
    box-sizing: border-box;
    padding-left: 17px;
}

.input-field:active{
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 322px;
    height: 46px;
}

.btn-create-account {
    border: 0;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.btn-create-account:hover{
    background-color: #329a65;
}

.social-bottons{
    display: flex;
    justify-content: space-between;
}

.social-item{
    display: inline-block;
    margin-bottom: 29px;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;

}

.btn-facebook{
    border-radius: 3px;
    background-color:  #305db8;
    width: 157px;
    height: 46px;
    margin-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #ffffff;
}

.btn-facebook-f{
    width: 10px;
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-left: 20px;
        
}

.btn-facebook-logo{
    padding-right: 21px;
    padding-top: 1px;
    padding-left: 14px;
}
.v-line-facebook{
    border-left: 1px solid #2952a6;
    width: -1px;
    height: 26px;
}
.btn-google{
    border-radius: 3px;
    background-color:  #df4a32;
    width: 157px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn-google-g{
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding-left: 13px;
}
.btn-google-logo{
    padding-right: 21px;
    padding-top: 1px;
    padding-left: 24px;
}
.v-line-google{
    border-left: 1px solid #c84029;
    width: -1px;
    height: 26px;
}

.btn-create-account{

    border-radius: 3px;
    background-color:  #3cb878;
    border: 0;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.checkbox{
    border-width: 3px;
    border-color:  #3cb878;
    border-style: solid;
    width: 14px;
    height: 11px;
    font-family: Verdana;
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-bottom: 28px;
    margin-top: 22px;
}

.breack-line{
    width: 322px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.grey-line{
    border-width: 1px;
    border-color:  #eaeaea;
    border-style: solid;
    width: 133px;
    height: -1px;
    margin-bottom: 29px;
}

.p-grey{
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    position: absolute;
    top: -11px;
    left: 154px;
}

label{
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

/* .loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 13em;  - apply for fixed size
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


Facebook
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


Google
.loginBtn--google {
  font-family: "Roboto", Roboto, arial, sans-serif;
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
} */
    